<a href="https://colab.research.google.com/github/suneer333/VectorDB/blob/main/Assignment_question_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
weather_data = pd.read_csv('/content/drive/MyDrive/IK_Assignment/weatherAUS.csv')

###### Question 1: What is the shape of the dataset?

In [ ]:
# Determine the shape of the dataset
dataset_shape = weather_data.shape
print(f"The dataset contains {dataset_shape[0]} rows and {dataset_shape[1]} columns.")

The dataset contains 145460 rows and 23 columns.

###### Question 2: What are the columns in the dataset?

In [ ]:
# Get the list of columns in the dataset
columns = weather_data.columns
print("The columns in the dataset are:\n", columns)

The columns in the dataset are:
 Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

##### Question 3:How to display the first 8 rows of the dataset?

In [ ]:
# Display the first 8 rows of the dataset
first_8_rows = weather_data.head(8)
print(first_8_rows)

         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN
5  2008-12-06   Albury     14.6     29.7       0.2          NaN       NaN
6  2008-12-07   Albury     14.3     25.0       0.0          NaN       NaN
7  2008-12-08   Albury      7.7     26.7       0.0          NaN       NaN

  WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
0           W           44.0          W  ...        71.0         22.0
1         WNW           44.0        NNW  ...        44.0         25.0
2         WSW           46.0          W  ...        38.0         30.0
3          NE           24.0         SE  ...        45.0         16.0
4           W           41.0        ENE  ...        82.0         33.0
5         WNW           56.0          W  ...        55.0         23.0
6           W           50.0         SW  ...        49.0         19.0
7           W           35.0        SSE  ...        48.0         19.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8         No
1       1010.6       1007.8       NaN       NaN     17.2     24.3         No
2       1007.6       1008.7       NaN       2.0     21.0     23.2         No
3       1017.6       1012.8       NaN       NaN     18.1     26.5         No
4       1010.8       1006.0       7.0       8.0     17.8     29.7         No
5       1009.2       1005.4       NaN       NaN     20.6     28.9         No
6       1009.6       1008.2       1.0       NaN     18.1     24.6         No
7       1013.4       1010.1       NaN       NaN     16.3     25.5         No

   RainTomorrow
0            No
1            No
2            No
3            No
4            No
5            No
6            No
7            No

[8 rows x 23 columns]

In [ ]:
weather_data.iloc[:8]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No

###### Question 4: How to read the data types in the data frame?

In [ ]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [ ]:
weather_data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [ ]:
weather_data.describe(include='object')

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
count,145460,145460,135134,134894,141232,142199,142193
unique,3436,49,16,16,16,2,2
top,2013-11-12,Canberra,W,N,SE,No,No
freq,49,3436,9915,11758,10838,110319,110316

In [ ]:
# Read the data types of each column in the data frame
data_types = weather_data.dtypes
print("The data types of each column are:\n", data_types)

The data types of each column are:
 Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

###### Question 5: (a) How to get the number of unique values in a column WindGustDir?
###### (b) What are the unique values themselves in the column WindGustDir?

In [ ]:
# Get the number of unique values in the 'WindGustDir' column
num_unique_values = weather_data['WindGustDir'].nunique()
print(f"The number of unique values in the 'WindGustDir' column is: {num_unique_values}")

# Get the unique values in the 'WindGustDir' column
unique_values = weather_data['WindGustDir'].unique()
print(f"The unique values in the 'WindGustDir' column are: {unique_values}")

The number of unique values in the 'WindGustDir' column is: 16
The unique values in the 'WindGustDir' column are: ['W' 'WNW' 'WSW' 'NE' 'NNW' 'N' 'NNE' 'SW' nan 'ENE' 'SSE' 'S' 'NW' 'SE'
 'ESE' 'E' 'SSW']

In [ ]:
# COUNT(DISTINCT ) --> nunique()
# SELECT DISTINCT --> unique()

###### Question 6: How to get the summary statistics for numerical columns?

In [ ]:
# Get the summary statistics for numerical columns
summary_statistics = weather_data.describe()
print("The summary statistics for numerical columns are:\n", summary_statistics)

The summary statistics for numerical columns are:
              MinTemp        MaxTemp       Rainfall   Evaporation  \
count  143975.000000  144199.000000  142199.000000  82670.000000
mean       12.194034      23.221348       2.360918      5.468232
std         6.398495       7.119049       8.478060      4.193704
min        -8.500000      -4.800000       0.000000      0.000000
25%         7.600000      17.900000       0.000000      2.600000
50%        12.000000      22.600000       0.000000      4.800000
75%        16.900000      28.200000       0.800000      7.400000
max        33.900000      48.100000     371.000000    145.000000

           Sunshine  WindGustSpeed   WindSpeed9am   WindSpeed3pm  \
count  75625.000000  135197.000000  143693.000000  142398.000000
mean       7.611178      40.035230      14.043426      18.662657
std        3.785483      13.607062       8.915375       8.809800
min        0.000000       6.000000       0.000000       0.000000
25%        4.800000      31.000000       7.000000      13.000000
50%        8.400000      39.000000      13.000000      19.000000
75%       10.600000      48.000000      19.000000      24.000000
max       14.500000     135.000000     130.000000      87.000000

         Humidity9am    Humidity3pm   Pressure9am    Pressure3pm  \
count  142806.000000  140953.000000  130395.00000  130432.000000
mean       68.880831      51.539116    1017.64994    1015.255889
std        19.029164      20.795902       7.10653       7.037414
min         0.000000       0.000000     980.50000     977.100000
25%        57.000000      37.000000    1012.90000    1010.400000
50%        70.000000      52.000000    1017.60000    1015.200000
75%        83.000000      66.000000    1022.40000    1020.000000
max       100.000000     100.000000    1041.00000    1039.600000

           Cloud9am      Cloud3pm        Temp9am       Temp3pm
count  89572.000000  86102.000000  143693.000000  141851.00000
mean       4.447461      4.509930      16.990631      21.68339
std        2.887159      2.720357       6.488753       6.93665
min        0.000000      0.000000      -7.200000      -5.40000
25%        1.000000      2.000000      12.300000      16.60000
50%        5.000000      5.000000      16.700000      21.10000
75%        7.000000      7.000000      21.600000      26.40000
max        9.000000      9.000000      40.200000      46.70000

###### Question 7: How to get the summary statistics for categorical variables?

In [ ]:
# Get the summary statistics for categorical columns
categorical_summary_statistics = weather_data.describe(include='object')
print("The summary statistics for categorical columns are:\n", categorical_summary_statistics)

The summary statistics for categorical columns are:
               Date  Location WindGustDir WindDir9am WindDir3pm RainToday  \
count       145460    145460      135134     134894     141232    142199
unique        3436        49          16         16         16         2
top     2013-11-12  Canberra           W          N         SE        No
freq            49      3436        9915      11758      10838    110319

       RainTomorrow
count        142193
unique            2
top              No
freq         110316

In [ ]:
weather_data.columns.to_list()

['Date',
 'Location',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RainTomorrow']

In [ ]:
# Select the 'RainToday' column using the iloc method
rain_today_column = weather_data.iloc[:, 20]
print(rain_today_column.head())

0    21.8
1    24.3
2    23.2
3    26.5
4    29.7
Name: Temp3pm, dtype: float64

###### Question 9: How to select rows from 234 to 239(include both) using the iloc method?

In [ ]:
list(range(233,239))

[233, 234, 235, 236, 237, 238]

In [ ]:
list(range(233,240))

[233, 234, 235, 236, 237, 238, 239]

In [ ]:
weather_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [ ]:
# Select rows from 234 to 239 using the iloc method
selected_rows = weather_data.iloc[233:240]
print(selected_rows)

           Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
233  2009-07-22   Albury      6.6     12.3       0.0          NaN       NaN
234  2009-07-23   Albury      6.0     13.5       9.8          NaN       NaN
235  2009-07-24   Albury     -0.1     12.9       0.0          NaN       NaN
236  2009-07-25   Albury     -0.3     12.2       0.0          NaN       NaN
237  2009-07-26   Albury      2.1      9.8       0.0          NaN       NaN
238  2009-07-27   Albury      1.3      8.8       0.0          NaN       NaN
239  2009-07-28   Albury      4.2     12.7       3.8          NaN       NaN

    WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
233           W           44.0        ENE  ...        74.0         81.0
234         WNW           26.0          W  ...        83.0         58.0
235          NW           22.0        NaN  ...        87.0         58.0
236          NE           20.0        NaN  ...        95.0         61.0
237         SSE           13.0        NaN  ...        85.0         74.0
238           N           20.0        ENE  ...        99.0         91.0
239         WNW           31.0         NW  ...        89.0         71.0

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
233       1009.5       1006.2       7.0       8.0     11.3     10.2
234       1015.1       1018.4       7.0       7.0      8.5     12.9
235       1027.3       1025.4       NaN       2.0      3.7     11.6
236       1026.8       1022.7       NaN       NaN      2.5     10.8
237       1018.0       1013.7       5.0       NaN      4.4      9.6
238       1019.9       1019.9       8.0       8.0      4.2      7.3
239       1024.0       1023.1       8.0       8.0      8.8     12.0

     RainToday  RainTomorrow
233         No           Yes
234        Yes            No
235         No            No
236         No            No
237         No            No
238         No           Yes
239        Yes           Yes

[7 rows x 23 columns]

###### Question 10
###### Part (a): How to filter rows where Rainfall is greater than 10?
###### Part (b): How to filter rows where the Location is either 'Albury', 'Cobar', or 'Wagga Wagga'?

In [ ]:
weather_data.query('Rainfall > 10').head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,...,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes,Yes
17,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,N,...,80.0,65.0,1005.8,1002.2,8.0,1.0,18.0,21.5,Yes,Yes
18,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,WSW,...,47.0,32.0,1009.4,1009.7,NaN,2.0,15.5,21.0,Yes,No
104,2009-03-15,Albury,10.0,19.7,11.6,NaN,NaN,WNW,39.0,W,...,62.0,41.0,1013.4,1012.0,NaN,8.0,12.7,18.3,Yes,No
124,2009-04-04,Albury,10.7,21.4,12.6,NaN,NaN,W,43.0,NaN,...,60.0,33.0,1019.8,1019.3,NaN,NaN,13.9,20.3,Yes,No

In [ ]:
weather_data[weather_data['Rainfall'] > 10].head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,...,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes,Yes
17,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,N,...,80.0,65.0,1005.8,1002.2,8.0,1.0,18.0,21.5,Yes,Yes
18,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,WSW,...,47.0,32.0,1009.4,1009.7,NaN,2.0,15.5,21.0,Yes,No
104,2009-03-15,Albury,10.0,19.7,11.6,NaN,NaN,WNW,39.0,W,...,62.0,41.0,1013.4,1012.0,NaN,8.0,12.7,18.3,Yes,No
124,2009-04-04,Albury,10.7,21.4,12.6,NaN,NaN,W,43.0,NaN,...,60.0,33.0,1019.8,1019.3,NaN,NaN,13.9,20.3,Yes,No

In [ ]:
# Filter rows where 'Rainfall' is greater than 10
rainfall_gt_10 = weather_data[weather_data['Rainfall'] > 10]
print("Rows where 'Rainfall' is greater than 10:")
print(rainfall_gt_10.head())

# Filter rows where 'Location' is in the list ['Albury', 'Cobar', 'Wagga Wagga']
locations = ['Albury', 'Cobar', 'Wagga Wagga']
filtered_locations = weather_data[weather_data['Location'].isin(locations)]
print("\nRows where 'Location' is in ['Albury', 'Cobar', 'Wagga Wagga']:")
print(filtered_locations.head())

Rows where 'Rainfall' is greater than 10:
           Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
12   2008-12-13   Albury     15.9     18.6      15.6          NaN       NaN
17   2008-12-18   Albury     13.5     22.9      16.8          NaN       NaN
18   2008-12-19   Albury     11.2     22.5      10.6          NaN       NaN
104  2009-03-15   Albury     10.0     19.7      11.6          NaN       NaN
124  2009-04-04   Albury     10.7     21.4      12.6          NaN       NaN

    WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
12            W           61.0        NNW  ...        76.0         93.0
17            W           63.0          N  ...        80.0         65.0
18          SSE           43.0        WSW  ...        47.0         32.0
104         WNW           39.0          W  ...        62.0         41.0
124           W           43.0        NaN  ...        60.0         33.0

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
12         994.3        993.0       8.0       8.0     17.4     15.8
17        1005.8       1002.2       8.0       1.0     18.0     21.5
18        1009.4       1009.7       NaN       2.0     15.5     21.0
104       1013.4       1012.0       NaN       8.0     12.7     18.3
124       1019.8       1019.3       NaN       NaN     13.9     20.3

     RainToday  RainTomorrow
12         Yes           Yes
17         Yes           Yes
18         Yes            No
104        Yes            No
124        Yes            No

[5 rows x 23 columns]

Rows where 'Location' is in ['Albury', 'Cobar', 'Wagga Wagga']:
         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN

  WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
0           W           44.0          W  ...        71.0         22.0
1         WNW           44.0        NNW  ...        44.0         25.0
2         WSW           46.0          W  ...        38.0         30.0
3          NE           24.0         SE  ...        45.0         16.0
4           W           41.0        ENE  ...        82.0         33.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8         No
1       1010.6       1007.8       NaN       NaN     17.2     24.3         No
2       1007.6       1008.7       NaN       2.0     21.0     23.2         No
3       1017.6       1012.8       NaN       NaN     18.1     26.5         No
4       1010.8       1006.0       7.0       8.0     17.8     29.7         No

   RainTomorrow
0            No
1            No
2            No
3            No
4            No

[5 rows x 23 columns]

##### Question 11:
   ##### (a)How to filter rows where Rainfall is greater than 10 and MaxTemp is less than 20?
   ##### (b)How to filter rows where WindGustSpeed is greater than 50 or RainToday is 'Yes'?
   ##### (c)How to filter rows where Location is not 'Albury'?

In [ ]:
weather_data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [ ]:
weather_data.query('Rainfall > 10 and MaxTemp < 20').head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,...,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes,Yes
104,2009-03-15,Albury,10.0,19.7,11.6,NaN,NaN,WNW,39.0,W,...,62.0,41.0,1013.4,1012.0,NaN,8.0,12.7,18.3,Yes,No
145,2009-04-25,Albury,12.9,15.8,20.0,NaN,NaN,W,70.0,WNW,...,83.0,89.0,1004.8,1000.9,8.0,8.0,13.3,14.5,Yes,Yes
146,2009-04-26,Albury,8.6,12.9,21.0,NaN,NaN,NNW,63.0,NW,...,77.0,62.0,1004.0,1003.3,8.0,8.0,9.5,11.6,Yes,Yes
188,2009-06-07,Albury,4.7,11.6,14.4,NaN,NaN,NNW,30.0,NNW,...,93.0,80.0,1007.5,1006.3,8.0,8.0,10.0,11.5,Yes,Yes

In [ ]:
weather_data['RainToday'].unique()

array(['No', 'Yes', nan], dtype=object)

In [ ]:
weather_data.query('(WindGustSpeed > 50) | (RainToday == "Yes")').head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No
11,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,NE,...,89.0,91.0,1010.5,1004.2,8.0,8.0,15.9,17.0,Yes,Yes
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,...,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes,Yes

In [ ]:
weather_data[weather_data['RainToday'].isin(['Yes'])] | weather_data[weather_data['WindGustSpeed'] > 50]].head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No
11,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,NE,...,89.0,91.0,1010.5,1004.2,8.0,8.0,15.9,17.0,Yes,Yes
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,...,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes,Yes
13,2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,SW,44.0,W,...,65.0,43.0,1001.2,1001.8,NaN,7.0,15.8,19.8,Yes,No
17,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,N,...,80.0,65.0,1005.8,1002.2,8.0,1.0,18.0,21.5,Yes,Yes

In [ ]:
# Filter rows where 'Rainfall' is greater than 10 and 'MaxTemp' is less than 20
rainfall_gt_10_and_maxtemp_lt_20 = weather_data[(weather_data['Rainfall'] > 10) & (weather_data['MaxTemp'] < 20)]
print("Rows where 'Rainfall' is greater than 10 and 'MaxTemp' is less than 20:")
print(rainfall_gt_10_and_maxtemp_lt_20.head())

# Filter rows where 'WindGustSpeed' is greater than 50 or 'RainToday' is 'Yes'
windgustspeed_gt_50_or_raintoday_yes = weather_data[((weather_data['WindGustSpeed'] > 50) | (weather_data['RainToday'] == 'Yes'))]
print("\nRows where 'WindGustSpeed' is greater than 50 or 'RainToday' is 'Yes':")
print(windgustspeed_gt_50_or_raintoday_yes.head())

# Filter rows where 'Location' is not 'Albury'
location_not_albury = weather_data[weather_data['Location'] != 'Albury']
print("\nRows where 'Location' is not 'Albury':")
print(location_not_albury.head())

Rows where 'Rainfall' is greater than 10 and 'MaxTemp' is less than 20:
           Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
12   2008-12-13   Albury     15.9     18.6      15.6          NaN       NaN
104  2009-03-15   Albury     10.0     19.7      11.6          NaN       NaN
145  2009-04-25   Albury     12.9     15.8      20.0          NaN       NaN
146  2009-04-26   Albury      8.6     12.9      21.0          NaN       NaN
188  2009-06-07   Albury      4.7     11.6      14.4          NaN       NaN

    WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
12            W           61.0        NNW  ...        76.0         93.0
104         WNW           39.0          W  ...        62.0         41.0
145           W           70.0        WNW  ...        83.0         89.0
146         NNW           63.0         NW  ...        77.0         62.0
188         NNW           30.0        NNW  ...        93.0         80.0

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
12         994.3        993.0       8.0       8.0     17.4     15.8
104       1013.4       1012.0       NaN       8.0     12.7     18.3
145       1004.8       1000.9       8.0       8.0     13.3     14.5
146       1004.0       1003.3       8.0       8.0      9.5     11.6
188       1007.5       1006.3       8.0       8.0     10.0     11.5

     RainToday  RainTomorrow
12         Yes           Yes
104        Yes            No
145        Yes           Yes
146        Yes           Yes
188        Yes           Yes

[5 rows x 23 columns]

Rows where 'WindGustSpeed' is greater than 50 or 'RainToday' is 'Yes':
          Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
5   2008-12-06   Albury     14.6     29.7       0.2          NaN       NaN
8   2008-12-09   Albury      9.7     31.9       0.0          NaN       NaN
9   2008-12-10   Albury     13.1     30.1       1.4          NaN       NaN
11  2008-12-12   Albury     15.9     21.7       2.2          NaN       NaN
12  2008-12-13   Albury     15.9     18.6      15.6          NaN       NaN

   WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
5          WNW           56.0          W  ...        55.0         23.0
8          NNW           80.0         SE  ...        42.0          9.0
9            W           28.0          S  ...        58.0         27.0
11         NNE           31.0         NE  ...        89.0         91.0
12           W           61.0        NNW  ...        76.0         93.0

    Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
5        1009.2       1005.4       NaN       NaN     20.6     28.9         No
8        1008.9       1003.6       NaN       NaN     18.3     30.2         No
9        1007.0       1005.7       NaN       NaN     20.1     28.2        Yes
11       1010.5       1004.2       8.0       8.0     15.9     17.0        Yes
12        994.3        993.0       8.0       8.0     17.4     15.8        Yes

    RainTomorrow
5             No
8            Yes
9             No
11           Yes
12           Yes

[5 rows x 23 columns]

Rows where 'Location' is not 'Albury':
            Date       Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
3040  2009-01-01  BadgerysCreek     13.3     34.2       0.0          NaN
3041  2009-01-02  BadgerysCreek     14.7     26.1       0.0          NaN
3042  2009-01-03  BadgerysCreek     13.6     22.3       0.0          NaN
3043  2009-01-04  BadgerysCreek     17.7     31.2       0.0          NaN
3044  2009-01-05  BadgerysCreek     15.5     38.8       0.0          NaN

      Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
3040       NaN           W           61.0        NNE  ...        67.0
3041       NaN          SE           46.0         SE  ...        59.0
3042       NaN         NNE           30.0        ESE  ...        57.0
3043       NaN          NE           39.0        NNE  ...        62.0
3044       NaN          SW           50.0        NNE  ...        67.0

      Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
3040          NaN       1005.6          NaN       NaN       NaN     21.0
3041         54.0       1012.9       1013.5       NaN       NaN     20.7
3042         51.0       1021.9       1019.2       NaN       NaN     17.9
3043         43.0       1018.7       1013.6       NaN       NaN     22.0
3044         19.0       1013.2       1007.6       NaN       NaN     22.7

      Temp3pm  RainToday  RainTomorrow
3040      NaN         No            No
3041     22.2         No            No
3042     21.7         No            No
3043     30.6         No            No
3044     37.6         No            No

[5 rows x 23 columns]

###### Question 12:filter rows where Rainfall is greater than 10 and (MaxTemp is less than 20 or WindGustSpeed is greater than 50) and print the number of rows in the filtered data frame.

In [ ]:
# Create the filtering condition
filtered_data = weather_data[(weather_data['Rainfall'] > 10) &
                             ((weather_data['MaxTemp'] < 20) | (weather_data['WindGustSpeed'] > 50))]

# Get the count of rows after filtering
filtered_count = len(filtered_data)
print("Count of rows after filtering:", filtered_count)

Count of rows after filtering: 5613

##### Question 13: Find out the standard deviation for the MinTemp, MaxTemp, and Rainfall columns for each location.

In [ ]:
# Group by the 'Location' column and calculate the standard deviation for 'MinTemp', 'MaxTemp', and 'Rainfall'
grouped_std_specific = weather_data.groupby('Location')[['MinTemp', 'MaxTemp', 'Rainfall']].std()
print("Standard deviation for 'MinTemp', 'MaxTemp', and 'Rainfall' by 'Location':")
print(grouped_std_specific)

Standard deviation for 'MinTemp', 'MaxTemp', and 'Rainfall' by 'Location':
                   MinTemp   MaxTemp   Rainfall
Location
Adelaide          4.986596  7.023068   4.584666
Albany            3.545188  3.670555   5.111606
Albury            6.069485  7.794924   6.230014
AliceSprings      7.748471  7.453618   4.464389
BadgerysCreek     5.633795  5.994060   7.383433
Ballarat          4.719704  7.188498   5.121374
Bendigo           5.697443  7.621722   5.185085
Brisbane          4.616583  3.896063  11.557880
Cairns            3.176509  2.451875  18.280975
Canberra          6.242953  6.992873   5.723482
Cobar             6.725802  7.969401   4.403713
CoffsHarbour      5.142664  3.826105  17.444480
Dartmoor          4.170732  6.450711   4.982024
Darwin            2.968970  1.746054  16.450148
GoldCoast         4.115452  3.408135  13.054984
Hobart            3.897084  4.991067   4.405147
Katherine         5.100651  3.092419  11.387353
Launceston        4.943563  5.034381   5.392470
Melbourne         4.208313  6.036381   5.137060
MelbourneAirport  4.481929  6.653313   4.592725
Mildura           6.057556  7.737890   5.053102
Moree             6.811774  6.902001   6.560710
MountGambier      3.999872  6.365354   5.182723
MountGinini       5.374270  7.234149   8.970322
Newcastle         5.003698  5.347643  10.882701
Nhil              5.107077  7.697969   3.245124
NorahHead         4.149259  4.338520   9.387137
NorfolkIsland     2.761056  2.706889   9.681335
Nuriootpa         5.151055  7.589339   4.392201
PearceRAAF        5.243401  6.866217   5.260833
Penrith           5.526524  6.173968   7.285389
Perth             5.087817  6.115454   5.789950
PerthAirport      5.093569  6.375446   5.375192
Portland          3.586086  5.218956   5.520439
Richmond          6.103940  6.008011   7.344963
Sale              4.907297  5.831214   4.459643
SalmonGums        5.483728  6.755932   3.668905
Sydney            4.551618  4.493735   9.887184
SydneyAirport     4.640967  5.100316   9.207884
Townsville        4.562407  2.769146  14.985589
Tuggeranong       6.348866  6.982311   7.628538
Uluru             7.446991  7.589052   4.706608
WaggaWagga        6.551019  7.917145   5.924927
Walpole           3.226613  4.507988   6.378383
Watsonia          4.542496  6.730465   5.447209
Williamtown       5.104967  5.438767  11.757872
Witchcliffe       3.925484  5.110480   7.341003
Wollongong        3.820357  4.032744  11.897181
Woomera           6.197374  7.948643   2.733410

##### Question 14: For each Location and WindGustDir, calculate the average MinTemp and MaxTemp.

In [ ]:
# Group by 'Location' and 'WindGustDir' and calculate the mean for 'MinTemp' and 'MaxTemp'
grouped_mean_two_numerical = weather_data.groupby(['Location', 'WindGustDir'])[['MinTemp', 'MaxTemp']].mean()
print("Mean values for 'MinTemp' and 'MaxTemp' by 'Location' and 'WindGustDir':")
print(grouped_mean_two_numerical)

Mean values for 'MinTemp' and 'MaxTemp' by 'Location' and 'WindGustDir':
                        MinTemp    MaxTemp
Location WindGustDir
Adelaide E            13.184706  24.694118
         ENE          11.582432  22.082432
         ESE          15.048322  27.426174
         N            11.150345  22.599310
         NE           12.894253  23.388506
...                         ...        ...
Woomera  SSW          13.639104  25.376418
         SW           12.050000  23.898872
         W            12.015172  24.225342
         WNW          12.568333  25.605000
         WSW          11.828293  23.723301

[751 rows x 2 columns]

##### Read the two data frames weather_data1 and weather_data2

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/IK_Assignment/weather_data1.csv')
df1

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0
...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/IK_Assignment/weather_data2.csv')
df2

,Date,Location,WindGustDir,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm
0,2008-12-01,Albury,W,20.0,24.0,71.0,22.0
1,2008-12-02,Albury,WNW,4.0,22.0,44.0,25.0
2,2008-12-03,Albury,WSW,19.0,26.0,38.0,30.0
3,2008-12-04,Albury,NE,11.0,9.0,45.0,16.0
4,2008-12-05,Albury,W,7.0,20.0,82.0,33.0
...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,E,13.0,11.0,51.0,24.0
145456,2017-06-22,Uluru,NNW,13.0,9.0,56.0,21.0
145457,2017-06-23,Uluru,N,9.0,9.0,53.0,24.0
145458,2017-06-24,Uluru,SE,13.0,7.0,51.0,24.0
145459,2017-06-25,Uluru,NaN,17.0,17.0,62.0,36.0

##### Question15: Merge the above two dataframes on any common column and print specific columns (MinTemp, MaxTemp, Humidity9am, and Humidity3pm)

In [ ]:
# Merge the two dataframes on the 'Date' column
merged_data = df1.merge(df2, on='Date')

# Select the specific columns in the resultant dataframe
resultant_data = merged_data[['MinTemp', 'MaxTemp', 'Humidity9am', 'Humidity3pm']]

# Display the first few rows of the resultant dataframe
print(resultant_data.head())

   MinTemp  MaxTemp  Humidity9am  Humidity3pm
0     13.4     22.9         71.0         22.0
1     13.4     22.9         50.0         24.0
2     13.4     22.9         35.0         23.0
3     13.4     22.9         29.0         21.0
4     13.4     22.9          NaN          NaN

##### Question 16: What happens if you perform an outer join on the two dataframes?

In [ ]:
df1.shape

(145460, 7)

In [ ]:
df2.shape

(145460, 7)

In [ ]:
merged_data_outer.shape

(6841896, 13)

In [ ]:
# Perform an outer join on the 'Date' column
merged_data_outer = df1.merge(df2, on='Date', how='outer')

# Display the first few rows of the resultant dataframe
print(merged_data_outer.head())

         Date Location_x  MinTemp  MaxTemp  Rainfall WindGustDir_x  \
0  2008-12-01     Albury     13.4     22.9       0.6             W
1  2008-12-01     Albury     13.4     22.9       0.6             W
2  2008-12-01     Albury     13.4     22.9       0.6             W
3  2008-12-01     Albury     13.4     22.9       0.6             W
4  2008-12-01     Albury     13.4     22.9       0.6             W

   WindGustSpeed  Location_y WindGustDir_y  WindSpeed9am  WindSpeed3pm  \
0           44.0      Albury             W          20.0          24.0
1           44.0   Newcastle           NaN           6.0          19.0
2           44.0     Penrith           WNW          13.0          22.0
3           44.0      Sydney           NaN           2.0          24.0
4           44.0  Wollongong           NaN           NaN           NaN

   Humidity9am  Humidity3pm
0         71.0         22.0
1         50.0         24.0
2         35.0         23.0
3         29.0         21.0
4          NaN          NaN

##### Question 16: How to perform train, validation, and test splits on the weather data?
##### Note: 80% training data, In the remaining 20% again take 75% for validation and 25% for testing

In [ ]:
from sklearn.model_selection import train_test_split

# First split: 80% train, 20% temp (validation + test)
train_data, temp_data = train_test_split(weather_data, test_size=0.20, random_state=42)

# Second split: 75% validation, 25% test of the temp set (20%)
validation_data, test_data = train_test_split(temp_data, test_size=0.25, random_state=42)

# Display the shapes of the resulting datasets
print("Train data shape:", train_data.shape)
print("Validation data shape:", validation_data.shape)
print("Test data shape:", test_data.shape)

Train data shape: (116368, 23)
Validation data shape: (21819, 23)
Test data shape: (7273, 23)

###### Question 17: How to identify the missing values in the dataset?

In [ ]:
# Identify missing values
missing_values = weather_data.isnull().sum()

# Display the number of missing values in each column
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

##### Count the number of numerical columns with missing values and categorical columns with missing values.

In [ ]:
# Count the number of numerical columns with missing values
num_missing_numerical = weather_data.select_dtypes(include=['float64', 'int64']).isnull().sum()
num_missing_numerical_count = num_missing_numerical[num_missing_numerical > 0].count()

# Count the number of categorical columns with missing values
num_missing_categorical = weather_data.select_dtypes(include=['object']).isnull().sum()
num_missing_categorical_count = num_missing_categorical[num_missing_categorical > 0].count()

print("Number of numerical columns with missing values:", num_missing_numerical_count)
print("Number of categorical columns with missing values:", num_missing_categorical_count)

Number of numerical columns with missing values: 16
Number of categorical columns with missing values: 5

###### For explanation purpose, consider 16 numerical columns and divide them into two sets, each containing 8 columns. Impute the mean for the first set of 8 columns and impute the median for the second set of 8 columns. Use mode imputation for the categorical columns.

In [ ]:
# Divide numerical columns into two parts
numerical_cols = train_data.select_dtypes(include=['float64', 'int64']).columns
num_cols_mean = numerical_cols[:len(numerical_cols)//2]  # First half
num_cols_mode = numerical_cols[len(numerical_cols)//2:]  # Second half

# Categorical columns
categorical_cols = train_data.select_dtypes(include=['object']).columns

In [ ]:
numerical_cols

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

##### Question 18: On the train, validation, test sets perform the mean, median and mode imputations.

In [ ]:
# Impute numerical columns with mean in training data
for col in num_cols_mean:
    train_data[col].fillna(train_data[col].mean(), inplace=True)
    validation_data[col].fillna(train_data[col].mean(), inplace=True)  # Use train mean for validation data
    test_data[col].fillna(train_data[col].mean(), inplace=True)  # Use train mean for test data

In [ ]:
# Impute numerical columns with mode in training data
for col in num_cols_mode:
    train_data[col].fillna(train_data[col].mode()[0], inplace=True)
    validation_data[col].fillna(train_data[col].mode()[0], inplace=True)  # Use train mode for validation data
    test_data[col].fillna(train_data[col].mode()[0], inplace=True)  # Use train mode for test data

In [ ]:
# Impute categorical columns with mode in training data (more typical than median)
for col in categorical_cols:
    train_data[col].fillna(train_data[col].mode()[0], inplace=True)
    validation_data[col].fillna(train_data[col].mode()[0], inplace=True)  # Use train mode for validation data
    test_data[col].fillna(train_data[col].mode()[0], inplace=True)  # Use train mode for test data

##### Question 19: How to show that there are no missing values after imputation?

In [ ]:
# Check for missing values in the imputed dataframes
missing_values_train = train_data.isnull().sum()
missing_values_validation = validation_data.isnull().sum()
missing_values_test = test_data.isnull().sum()

print("Missing values in training data after imputation:", missing_values_train)
print("Missing values in validation data after imputation:", missing_values_validation)
print("Missing values in test data after imputation:", missing_values_test)

Missing values in training data after imputation: Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64
Missing values in validation data after imputation: Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64
Missing values in test data after imputation: Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

##### Question 20: perform standardization on two numerical columns {MinTemp, MaxTemp}

In [ ]:
from sklearn.preprocessing import StandardScaler

# Select two numerical columns to standardize
columns_to_standardize = ['MinTemp', 'MaxTemp']

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize the selected columns in the training data
train_data_std = train_data.copy()
train_data_std[columns_to_standardize] = scaler.fit_transform(train_data[columns_to_standardize])

# Standardize the selected columns in the validation data using the same scaler
validation_data_std = validation_data.copy()
validation_data_std[columns_to_standardize] = scaler.transform(validation_data[columns_to_standardize])

# Standardize the selected columns in the test data using the same scaler
test_data_std = test_data.copy()
test_data_std[columns_to_standardize] = scaler.transform(test_data[columns_to_standardize])

##### This part of the code compares the standardized columns with actual column values in training data

In [ ]:
# Compare the standardized columns with the actual columns in the training data
comparison_train = pd.DataFrame({
    'Actual MinTemp': train_data['MinTemp'],
    'Standardized MinTemp': train_data_std['MinTemp'],
    'Actual MaxTemp': train_data['MaxTemp'],
    'Standardized MaxTemp': train_data_std['MaxTemp']
})

# Display the comparisons
print("Training Data Comparison:")
print(comparison_train.head())

Training Data Comparison:
        Actual MinTemp  Standardized MinTemp  Actual MaxTemp  \
111548            14.5              0.361683            17.8
142528            24.6              1.947928            39.5
65304             14.7              0.393093            26.6
40651             18.3              0.958488            26.6
97487             11.4             -0.125185            19.3

        Standardized MaxTemp
111548             -0.764725
142528              2.297255
65304               0.477000
40651               0.477000
97487              -0.553067

##### Question 21: perform normalization on two numerical columns {Rainfall, Evaporation}

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Select two numerical columns to normalize
columns_to_normalize = ['Rainfall', 'Evaporation']

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the selected columns in the training data
train_data_norm = train_data.copy()
train_data_norm[columns_to_normalize] = scaler.fit_transform(train_data[columns_to_normalize])

# Normalize the selected columns in the validation data using the same scaler
validation_data_norm = validation_data.copy()
validation_data_norm[columns_to_normalize] = scaler.transform(validation_data[columns_to_normalize])

# Normalize the selected columns in the test data using the same scaler
test_data_norm = test_data.copy()
test_data_norm[columns_to_normalize] = scaler.transform(test_data[columns_to_normalize])

##### This part of the code compares the standardized columns with actual column values in training data

In [ ]:
sorted(train_data['Rainfall'].unique())

[0.0,
 0.1,
 0.2,
 0.3,
 0.4,
 0.5,
 0.6,
 0.7,
 0.8,
 0.9,
 1.0,
 1.1,
 1.2,
 1.3,
 1.4,
 1.5,
 1.6,
 1.7,
 1.8,
 1.9,
 2.0,
 2.1,
 2.2,
 2.3,
 2.3788702928870293,
 2.4,
 2.5,
 2.6,
 2.7,
 2.8,
 2.9,
 3.0,
 3.1,
 3.2,
 3.3,
 3.4,
 3.5,
 3.6,
 3.8,
 3.9,
 4.0,
 4.1,
 4.2,
 4.4,
 4.5,
 4.6,
 4.7,
 4.8,
 4.9,
 5.0,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 5.8,
 5.9,
 6.0,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 6.7,
 6.8,
 6.9,
 7.0,
 7.1,
 7.2,
 7.4,
 7.5,
 7.6,
 7.8,
 7.9,
 8.0,
 8.2,
 8.4,
 8.5,
 8.6,
 8.7,
 8.8,
 8.9,
 9.0,
 9.1,
 9.2,
 9.4,
 9.5,
 9.6,
 9.8,
 10.0,
 10.1,
 10.2,
 10.4,
 10.5,
 10.6,
 10.7,
 10.8,
 10.9,
 11.0,
 11.1,
 11.2,
 11.4,
 11.5,
 11.6,
 11.8,
 11.9,
 12.0,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 12.7,
 12.8,
 13.0,
 13.1,
 13.2,
 13.3,
 13.4,
 13.6,
 13.8,
 13.9,
 14.0,
 14.2,
 14.4,
 14.5,
 14.6,
 14.8,
 15.0,
 15.2,
 15.4,
 15.5,
 15.6,
 15.7,
 15.8,
 15.9,
 16.0,
 16.2,
 16.4,
 16.6,
 16.8,
 17.0,
 17.2,
 17.4,
 17.5,
 17.6,
 17.8,
 18.0,
 18.1,
 18.2,
 18.4,
 18.5,
 18.6,
 18.8,
 19.0,
 19.2,
 19.4,
 19.6,
 19.7,
 19.8,
 20.0,
 20.2,
 20.4,
 20.6,
 20.7,
 20.8,
 20.9,
 21.0,
 21.2,
 21.4,
 21.5,
 21.6,
 21.8,
 22.0,
 22.2,
 22.4,
 22.5,
 22.6,
 22.7,
 22.8,
 22.9,
 23.0,
 23.2,
 23.4,
 23.6,
 23.7,
 23.8,
 23.9,
 24.0,
 24.2,
 24.4,
 24.6,
 24.8,
 25.0,
 25.2,
 25.3,
 25.4,
 25.6,
 25.8,
 26.0,
 26.2,
 26.4,
 26.5,
 26.6,
 26.8,
 27.0,
 27.2,
 27.4,
 27.6,
 27.8,
 28.0,
 28.2,
 28.4,
 28.6,
 28.8,
 29.0,
 29.1,
 29.2,
 29.3,
 29.4,
 29.5,
 29.6,
 29.8,
 29.9,
 30.0,
 30.2,
 30.4,
 30.6,
 30.7,
 30.8,
 31.0,
 31.1,
 31.2,
 31.4,
 31.6,
 31.8,
 32.0,
 32.2,
 32.4,
 32.5,
 32.6,
 32.7,
 32.8,
 33.0,
 33.2,
 33.4,
 33.6,
 33.8,
 33.9,
 34.0,
 34.2,
 34.3,
 34.4,
 34.6,
 34.8,
 35.0,
 35.2,
 35.4,
 35.6,
 35.8,
 36.0,
 36.2,
 36.4,
 36.6,
 36.8,
 37.0,
 37.2,
 37.4,
 37.6,
 37.8,
 37.9,
 38.0,
 38.2,
 38.4,
 38.6,
 38.8,
 39.0,
 39.2,
 39.4,
 39.6,
 39.8,
 39.9,
 40.0,
 40.2,
 40.4,
 40.6,
 40.8,
 41.0,
 41.2,
 41.4,
 41.5,
 41.6,
 41.8,
 42.0,
 42.2,
 42.4,
 42.6,
 42.8,
 43.0,
 43.2,
 43.4,
 43.6,
 43.8,
 44.0,
 44.2,
 44.4,
 44.6,
 44.8,
 45.0,
 45.2,
 45.4,
 45.6,
 45.8,
 46.0,
 46.2,
 46.4,
 46.6,
 46.8,
 47.0,
 47.2,
 47.4,
 47.6,
 47.8,
 48.0,
 48.2,
 48.4,
 48.6,
 48.8,
 49.0,
 49.2,
 49.4,
 49.6,
 49.8,
 50.0,
 50.2,
 50.4,
 50.6,
 50.8,
 51.0,
 51.2,
 51.4,
 51.6,
 51.8,
 52.0,
 52.2,
 52.4,
 52.6,
 52.8,
 53.0,
 53.2,
 53.4,
 53.6,
 53.8,
 54.0,
 54.2,
 54.4,
 54.6,
 54.8,
 55.0,
 55.2,
 55.4,
 55.6,
 55.8,
 56.0,
 56.2,
 56.4,
 56.6,
 56.8,
 57.0,
 57.4,
 57.6,
 57.8,
 58.0,
 58.2,
 58.4,
 58.6,
 58.8,
 59.0,
 59.2,
 59.4,
 59.6,
 59.8,
 60.0,
 60.2,
 60.4,
 60.6,
 60.8,
 61.0,
 61.2,
 61.4,
 61.6,
 61.8,
 62.0,
 62.2,
 62.4,
 62.6,
 62.8,
 63.0,
 63.2,
 63.4,
 63.6,
 63.8,
 64.0,
 64.1,
 64.2,
 64.4,
 64.6,
 64.8,
 65.0,
 65.2,
 65.4,
 65.6,
 65.8,
 66.0,
 66.2,
 66.4,
 67.0,
 67.6,
 67.8,
 68.0,
 68.2,
 68.4,
 68.6,
 68.8,
 69.0,
 69.2,
 69.4,
 69.5,
 69.6,
 69.8,
 70.0,
 70.2,
 70.4,
 70.6,
 70.8,
 71.0,
 71.2,
 71.4,
 71.6,
 71.8,
 72.0,
 72.2,
 72.6,
 72.8,
 73.0,
 73.2,
 73.4,
 73.6,
 73.8,
 74.0,
 74.2,
 74.4,
 74.6,
 74.8,
 75.0,
 75.2,
 75.6,
 75.8,
 76.0,
 76.2,
 76.4,
 76.6,
 76.8,
 77.2,
 77.4,
 77.6,
 77.8,
 78.2,
 78.4,
 78.6,
 78.8,
 79.0,
 79.2,
 79.4,
 79.6,
 79.8,
 80.2,
 80.4,
 80.6,
 80.8,
 81.0,
 81.2,
 81.4,
 81.6,
 81.8,
 82.2,
 82.4,
 82.6,
 82.8,
 83.0,
 83.2,
 83.4,
 83.6,
 83.8,
 84.0,
 84.2,
 84.4,
 84.6,
 84.8,
 85.0,
 85.4,
 85.6,
 86.2,
 86.4,
 86.8,
 87.0,
 87.4,
 87.6,
 87.8,
 88.0,
 88.2,
 88.6,
 89.0,
 89.2,
 89.4,
 89.8,
 90.0,
 90.6,
 91.0,
 91.4,
 91.6,
 92.2,
 92.6,
 92.8,
 93.0,
 93.2,
 93.4,
 93.6,
 94.0,
 95.0,
 95.2,
 95.6,
 95.8,
 96.0,
 96.1,
 96.4,
 96.8,
 97.0,
 97.2,
 98.0,
 98.2,
 99.2,
 99.4,
 100.2,
 100.4,
 101.8,
 102.0,
 102.2,
 103.4,
 104.2,
 104.6,
 104.8,
 105.0,
 105.6,
 105.8,
 106.0,
 106.2,
 106.4,
 106.8,
 108.2,
 109.0,
 109.2,
 109.4,
 109.6,
 109.8,
 110.6,
 110.8,
 111.0,
 111.8,
 112.0,
 112.2,
 113.0,
 113.4,
 113.8,
 114.4,
 115.2,
 115.4,
 115.8,
 117.6,
 118.2,
 118.6,
 119.4,
 120.2,
 120.8,
 121.4,
 121.6,
 122.6,
 122.8,
 124.8,
 126.0,
 126.4,
 127.6,
 128.2,
 128.4,
 129.0,
 131.4,
 132.5,
 134.8,
 136.6,
 139.0,
 140.2,
 141.2,
 141.8,
 142.2,
 142.8,
 145.0,
 145.2,
 147.8,
 148.6,
 150.2,
 153.2,
 155.0,
 156.0,
 156.8,
 157.6,
 157.8,
 158.0,
 159.8,
 161.6,
 162.2,
 164.2,
 164.6,
 165.2,
 166.8,
 168.4,
 170.4,
 172.2,
 174.6,
 175.2,
 177.6,
 178.2,
 182.2,
 182.6,
 183.0,
 183.4,
 184.6,
 192.0,
 208.5,
 210.6,
 216.3,
 219.6,
 225.0,
 236.8,
 240.0,
 247.2,
 268.6,
 278.4,
 371.0]

In [ ]:
# Compare the normalized columns with the actual columns in the training data
comparison_train_norm = pd.DataFrame({
    'Actual Rainfall': train_data['Rainfall'],
    'Normalized Rainfall': train_data_norm['Rainfall'],
    'Actual Evaporation': train_data['Evaporation'],
    'Normalized Evaporation': train_data_norm['Evaporation']
})
# Display the comparisons
print("Training Data Normalization Comparison:")
print(comparison_train_norm.head())

Training Data Normalization Comparison:
        Actual Rainfall  Normalized Rainfall  Actual Evaporation  \
111548             14.2             0.038275            5.465219
142528              0.0             0.000000           12.000000
65304               0.2             0.000539            3.200000
40651               0.0             0.000000            5.465219
97487               0.6             0.001617            2.400000

        Normalized Evaporation
111548                0.037691
142528                0.082759
65304                 0.022069
40651                 0.037691
97487                 0.016552

##### Question 22: perform label encoding on a categorical column 'WindGustDir'

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Select a categorical column to perform label encoding
categorical_column = 'WindGustDir'

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Perform label encoding on the selected column in the training data
train_data_encoded = train_data.copy()
train_data_encoded[categorical_column] = label_encoder.fit_transform(train_data[categorical_column].astype(str))

# Perform label encoding on the selected column in the validation data using the same encoder
validation_data_encoded = validation_data.copy()
validation_data_encoded[categorical_column] = label_encoder.transform(validation_data[categorical_column].astype(str))

# Perform label encoding on the selected column in the test data using the same encoder
test_data_encoded = test_data.copy()
test_data_encoded[categorical_column] = label_encoder.transform(test_data[categorical_column].astype(str))

##### This part of the code compares the label encoded categorical column with actual column values in training data

In [ ]:
# Compare the encoded column with the actual column in the training data
comparison_train_encoded = pd.DataFrame({
    'Actual': train_data[categorical_column],
    'Encoded': train_data_encoded[categorical_column]
})
# Display the comparisons
print("Training Data Label Encoding Comparison:")
print(comparison_train_encoded.head())

Training Data Label Encoding Comparison:
       Actual  Encoded
111548      W       13
142528     SE        9
65304     SSE       10
40651      SE        9
97487       W       13

###### Question 23: perform one hot encoding on a categorical column 'WindDir3pm'

In [ ]:
from sklearn.preprocessing import OneHotEncoder
# Select the column to perform one-hot encoding on
column_to_encode = 'WindDir3pm'

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse=False, drop='first')

# Fit the encoder on the training data and transform the column
train_encoded = encoder.fit_transform(train_data[[column_to_encode]])
validation_encoded = encoder.transform(validation_data[[column_to_encode]])
test_encoded = encoder.transform(test_data[[column_to_encode]])

# Create DataFrames for the encoded columns with appropriate column names
train_encoded_df = pd.DataFrame(train_encoded, columns=encoder.get_feature_names_out([column_to_encode]))
validation_encoded_df = pd.DataFrame(validation_encoded, columns=encoder.get_feature_names_out([column_to_encode]))
test_encoded_df = pd.DataFrame(test_encoded, columns=encoder.get_feature_names_out([column_to_encode]))

# Reset indices to concatenate with the original DataFrames
train_encoded_df.reset_index(drop=True, inplace=True)
validation_encoded_df.reset_index(drop=True, inplace=True)
test_encoded_df.reset_index(drop=True, inplace=True)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

##### This part of the code compares the one hot encoded categorical column with actual column values in training data

In [ ]:
# Concatenate the original and encoded DataFrames for comparison
comparison_train_encoded = pd.concat([train_data[[column_to_encode]].reset_index(drop=True), train_encoded_df], axis=1)
# Display the comparisons
print("Training Data One-Hot Encoding Comparison:")
print(comparison_train_encoded.head())

Training Data One-Hot Encoding Comparison:
  WindDir3pm  WindDir3pm_ENE  WindDir3pm_ESE  WindDir3pm_N  WindDir3pm_NE  \
0         SE             0.0             0.0           0.0            0.0
1         NW             0.0             0.0           0.0            0.0
2          S             0.0             0.0           0.0            0.0
3        SSE             0.0             0.0           0.0            0.0
4        SSW             0.0             0.0           0.0            0.0

   WindDir3pm_NNE  WindDir3pm_NNW  WindDir3pm_NW  WindDir3pm_S  WindDir3pm_SE  \
0             0.0             0.0            0.0           0.0            1.0
1             0.0             0.0            1.0           0.0            0.0
2             0.0             0.0            0.0           1.0            0.0
3             0.0             0.0            0.0           0.0            0.0
4             0.0             0.0            0.0           0.0            0.0

   WindDir3pm_SSE  WindDir3pm_SSW  WindDir3pm_SW  WindDir3pm_W  \
0             0.0             0.0            0.0           0.0
1             0.0             0.0            0.0           0.0
2             0.0             0.0            0.0           0.0
3             1.0             0.0            0.0           0.0
4             0.0             1.0            0.0           0.0

   WindDir3pm_WNW  WindDir3pm_WSW
0             0.0             0.0
1             0.0             0.0
2             0.0             0.0
3             0.0             0.0
4             0.0             0.0

##### Question 24: Perform equal width binning on the numerical column 'MinTemp' with 5 bins

In [ ]:
# Select a numerical column to perform equal width binning on
column_to_bin = 'MinTemp'

# Define the number of bins
num_bins = 5

# Perform equal width binning
weather_data['Binned_MinTemp'] = pd.cut(weather_data[column_to_bin].values, bins=num_bins)

##### This part of the code gives the actual column and it's correpsonding bin

In [ ]:
16.94 - 8.46

8.48

In [ ]:
25.42 - 16.94

8.48

In [ ]:
8.46 - (-0.02)

8.48

In [ ]:
# Display the binned column along with the original column
comparison_binning = weather_data[[column_to_bin, 'Binned_MinTemp']]

print("Equal Width Binning on MinTemp:")
print(comparison_binning.head())

Equal Width Binning on MinTemp:
   MinTemp  Binned_MinTemp
0     13.4   (8.46, 16.94]
1      7.4   (-0.02, 8.46]
2     12.9   (8.46, 16.94]
3      9.2   (8.46, 16.94]
4     17.5  (16.94, 25.42]

##### Question 25: By considering two features 'MinTemp', 'MaxTemp', create a new feature called 'TempRange'

In [ ]:
# Select two numerical columns to aggregate
column1 = 'MinTemp'
column2 = 'MaxTemp'

# Create a new feature by subtracting the two columns
weather_data['TempRange'] = weather_data[column2] - weather_data[column1]

# Display the new feature along with the original columns
comparison_aggregation = weather_data[[column1, column2, 'TempRange']]

print("Aggregated Feature (TempRange) created by subtracting MinTemp from MaxTemp:")
print(comparison_aggregation.head())

Aggregated Feature (TempRange) created by subtracting MinTemp from MaxTemp:
   MinTemp  MaxTemp  TempRange
0     13.4     22.9        9.5
1      7.4     25.1       17.7
2     12.9     25.7       12.8
3      9.2     28.0       18.8
4     17.5     32.3       14.8

In [ ]:
weather_data['MinTemp_Raised_Pow2'] = weather_data['MinTemp'] ** 2
weather_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Binned_MinTemp,TempRange,MinTemp_Raised_Pow2
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.1,8.0,NaN,16.9,21.8,No,No,"(8.46, 16.94]",9.5,179.56
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1007.8,NaN,NaN,17.2,24.3,No,No,"(-0.02, 8.46]",17.7,54.76
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1008.7,NaN,2.0,21.0,23.2,No,No,"(8.46, 16.94]",12.8,166.41
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1012.8,NaN,NaN,18.1,26.5,No,No,"(8.46, 16.94]",18.8,84.64
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1006.0,7.0,8.0,17.8,29.7,No,No,"(16.94, 25.42]",14.8,306.25

In [ ]:
weather_data['MinTemp_Raised_Pow22'] = weather_data['MinTemp'].apply(lambda x: x**2)
weather_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Binned_MinTemp,TempRange,MinTemp_Raised_Pow2,MinTemp_Raised_Pow22
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,8.0,NaN,16.9,21.8,No,No,"(8.46, 16.94]",9.5,179.56,179.56
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,NaN,NaN,17.2,24.3,No,No,"(-0.02, 8.46]",17.7,54.76,54.76
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,NaN,2.0,21.0,23.2,No,No,"(8.46, 16.94]",12.8,166.41,166.41
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,NaN,NaN,18.1,26.5,No,No,"(8.46, 16.94]",18.8,84.64,84.64
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,7.0,8.0,17.8,29.7,No,No,"(16.94, 25.42]",14.8,306.25,306.25